.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
}

.modal-box {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 500px;
}

.marks-table input {
  width: 100%;
}
